body {
  font-family: 'Roboto';
  color: #757575;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

/* Скритий елемент сторінки */
.features > h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}

:root {
  --brend-color: #2196f3;
}
/* -------------------------------------- */

.header {
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.logo > span {
  color: var(--brend-color);
}
.header-menu {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--brend-color);
}
.header-address a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-address a:hover,
.header-address a:focus {
  color: var(--brend-color);
}
/* ---------------------------- */
.page {
}

/* ---------------------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero a {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* ---------------------------- */
.features {
}
.features-list {
}
.features-item {
}
.features-item > h3 {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-item > p {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* ---------------------------- */
.box {
}
.box-list {
}
.box-item {
}
/* ------------------------------- */
.box h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ---------------------------- */
.team {
  background-color: #F5F4FA;;
}
.team-list {
}
.team-item {
}

.team-item > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/* ---------------------------- */
.footer {
  background-color:  #2F303A;
}
.footer-address > p {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address > a {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
