body {
  font-family: 'Roboto', sans-serif;
  color: var(--most-of-color-text);
  font-size: 14px;
  background-color: var(--background-light);
}
button {
  border: none;
}
/* --------------------------- */
ul {
  list-style-type: none;
}

/* Скритий елемент сторінки */
.features .page-title,
.category-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}
/* ----------Ширина-контенту---------------------- */
.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 5px;
}

/* ---------Колір лого------------- */
:root {
  --brend-color: #0073ff;
  --most-of-color-text: #757575;
  /* ---------колір-тексту-світлий--- */
  --header-color-light: #ffffff;
  --title-light: #ffffff;
  --logo-light: #ffffff;

  /* ---------колір-тексту-темний--- */
  --header-color-dark: #212121;
  --title-dark: #212121;
  --logo-dark: #000000;

  /* ---------колір-фону-світлий--- */
  --background-light: #ffffff;
  --background-team-light: #f5f4fa;
  /* ---------колір-фону-темний--- */
  --background-dark: ;
  --background-team-dark: #2f303a;
}

/* -------------page-title------------------------- */

.page-title {
  font-size: 36px;
  line-height: calc(42 / 36 * 100%);
  color: var(--title-dark);
  text-align: center;
  margin: 0 0 50px 0;
}
/* ------------------------------------------- */
.header {
  background-color: var(--header-color-light);
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26 * 100%);
  text-decoration: none;
  color: var(--logo-dark);
}
.logo > .accent {
  color: var(--brend-color);
}
.header-menu {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: var(--header-color-dark);
}

.header-link:hover,
.header-link:focus {
  color: var(--brend-color);
}
.header-address {
}
.header-address a {
  font-weight: 500;
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: inherit;
}
.header-address a:hover,
.header-address a:focus {
  color: var(--brend-color);
}
/* ---------------------------- */
.page {
}

/* ------------hero---------------- */
.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44 * 100%);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-light);
  margin: 0 0 30px 0;
}
.hero-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  min-height: 50px;
  min-width: 216px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover {
  background-color: #188ce8;
}

/* ---------------------------- */
.features {
  padding: 94px 0;
}
.features-list {
}
.features-item {
}
.features-item-title {
  font-weight: 700;
  line-height: calc(16 / 14 * 100%);
  text-transform: uppercase;
  color: var(--features-item-title-light);
}
.features-item > p {
  font-weight: 400;
}

/* -------------box--------------- */
.box {
  padding: 0 0 94px 0;
}
.box-list {
}
.box-item {
}
/* ------------team---------------- */
.team {
  background-color: var(--background-team-light);
  padding: 94px 0;
}
.team-list {
}
.team-item {
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: var(--title-dark);
}
.team-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
}

/* --------------------Portfolio--------------------------------------------- */
.category {
  padding: 94px 0;
}
.category-title {
}
.category-btn {
  margin: 0 0 50px 0;
}
.btn-list {
}
.btn-item {
}
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16 * 100%);
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
}

.btn:active,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------------- */
.category-columns {
}
.category-column {
}
.column {
}
.column-link {
}
.column-image {
}
.column-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18 * 100%);
  letter-spacing: 0.06em;
  color: var(--header-color-dark);
}
.column-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16 * 100%);
  color: var(--most-of-color-text);
}

/* ---------------------------- */
.footer {
  background-color: #2f303a;
  padding: 60px 0 90px 0;
}
.footer .logo {
  margin: 0 0 20px 0;
}

.footer-address > p {
  font-weight: 400;
  line-height: calc(24 / 14 * 100%);
  color: #ffffff;
  margin: 0 0 9px 0;
}
.footer-address > a {
  font-weight: 400;
  color: inherit;
  line-height: calc(24 / 14 * 100%);
}

.test-list {
  background-color: lightsalmon;
  max-width: 1200px;
  height: 700px;
  align-items: center;
  margin: 20px;
  outline: 5px solid rgb(177, 93, 72);
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
}


.test-link {
  background-color: lightseagreen;
  width: 150px;
  height: 150px;
  outline: 2px solid lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: chartreuse;
}
