body {
  font-family: 'Roboto', sans-serif;
  color: var(--most-of-color-text);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: calc(24 / 14 * 100%);
  background-color: var(--background-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* Скритий елемент сторінки */
.features > h2,
.category-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* ---------Колір лого------------- */
:root {
  --brend-color: #0073ff;
  --most-of-color-text: #757575;
  /* ---------колір-тексту-світлий--- */
  --header-color-light: #ffffff;
  --page-title-light: #ffffff;
  --hero-title-light: #ffffff;
  --logo-light: #ffffff;
  --features-item-title-light: #ffffff;
  --team-item-title-light: #ffffff;

  /* ---------колір-тексту-темний--- */
  --header-color-dark: #212121;
  --page-title-dark: #212121;
  --hero-title-dark: #212121;
  --logo-dark: #000000;
  --features-item-title-light: #212121;
  --team-item-title-dark: #212121;

  /* ---------колір-фону-світлий--- */
  --background-light: #ffffff;
  --background-team-light: #f5f4fa;
  /* ---------колір-фону-темний--- */
  --background-dark: ;
  --background-team-dark: #2f303a;
}

/* -------------page-title------------------------- */

.page-title {
  font-size: 36px;
  line-height: calc(42 / 36 * 100%);
  color: var(--page-title-dark);
  text-align: center;
}
/* ------------------------------------------- */
.header {
  background-color: var(--header-color-light);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26 * 100%);
  text-decoration: none;
  color: var(--logo-dark);
}
.logo > .accent {
  color: var(--brend-color);
}
.header-menu {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: var(--header-color-dark);
}

.header-link:hover,
.header-link:focus {
  color: var(--brend-color);
}
.header-address a {
  font-weight: 500;
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: inherit;
}
.header-address a:hover,
.header-address a:focus {
  color: var(--brend-color);
}
/* ---------------------------- */
.page {
}

/* ------------hero---------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 14 * 100%);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-light);
}
.hero a {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.hero a:hover {
  background-color: #188ce8;
}

/* ---------------------------- */
.features {
}
.features-list {
}
.features-item {
}
.features-item .features-item-title {
  font-weight: 700;
  line-height: calc(16 / 14 * 100%);
  text-transform: uppercase;
  color: var(--features-item-title-light);
}
.features-item > p {
  font-weight: 400;
}

/* ---------------------------- */
.box {
}
.box-list {
}
.box-item {
}

/* ---------------------------- */
.team {
  background-color: var(--background-team-light);
}
.team-list {
}
.team-item {
}

.team-item > .team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: var(--team-item-title-dark);
}
.team-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
}

/* ---------------------------- */
.footer {
  background-color: #2f303a;
}
.footer-address > p {
  font-weight: 400;
  line-height: 24px;

  color: #ffffff;
}
.footer-address > a {
  font-weight: 400;
  color: inherit;
}
/* ----------------------------------------------------------------- */

.page {
}
.category {
}
.category-title {
}
.category-filters {
}
.filters-list {
}
.filters-item {
}
.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(16 / 26 * 100%);
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.filters-btn:active,
.filters-btn:focus {
  color: #ffffff;
  background: #2196f3;
}
/* ----------------------- */
.category-columns {
}
.category-column {
}
.column {
}
.column-link {
}
.column-image {
}
.column-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18 * 100%);
  letter-spacing: 0.06em;
  color: #212121;
}
.column-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16 * 100%);
}
